.formContainer{
    position: fixed;
    width: 40%;
    opacity: 1;
    background-color: white;
    top: 10%;
    left: 28%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
    padding: 5px 18px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 100px;;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.formHeader{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 100%;
    border-bottom: 2px dotted #5a6f90;
    margin-bottom: 5px;
}
span{
    font-size: 14px;
    margin-right: 12px;

}

#cancelButton{
    position:absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.nameSection{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  
}

.nameSection>p{
    display: block;
    width: 100%;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}

.nameSection>input{
    width: 97%;
    height: 30px;
}

.emailorPhoneSection{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 97%;
}

.emailSection{
    display: flex;
    width: 60%;
    flex-direction: column;
    flex-wrap: wrap;

}

.emailSection>p{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}

.emailSection>input{
    width: 95%;
    height: 30px;
}

.phoneNoSection{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;

}
.otherInfo1{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.shareSection{
    display: flex;
    flex-wrap: wrap;
}

.shareSection>p{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}

#submitButton{
    border: none;
    display: block;
    width:85px;
    height: 40px;
    font-size: 16px;
    padding: 8px 16px;
    color: white;
    background-color: #ee5a36;
    margin: 10px 5px;
    font-weight: bold;
    border-radius: 5%;
    cursor: pointer;
}